<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

  <import resource="classpath:spring-custom-converter.xml"/>
  <import resource="classpath:spring-bean-factory.xml"/>
  <import resource="classpath:spring-event-listener.xml"/>

  <bean id="implicitMapper" class="org.dozer.DozerBeanMapper" singleton="true" />

  <!-- Provided Spring Integration -->
  <bean id="byFactory" class="org.dozer.spring.DozerBeanMapperFactoryBean" >
    <property name="mappingFiles" value="classpath*:/*Mapping.xml"/>
    <property name="customConverters">
      <list/>
    </property>
    <property name="eventListeners">
      <list/>
    </property>
    <property name="factories">
      <map/>
    </property>
  </bean>


</beans>