# Eclipse #
###########
.classpath
.project
.settings
*/bin

# Maven #
#########
target
release.properties
*.releaseBackup
*.versionsBackup

# IntelliJ IDEA #
#################
.idea
*.iml
*.ipr
*.iws

# OS X #
########
.DS_Store
