<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright 2005-2013 Dozer Project

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<?eclipse version="3.3"?>
<plugin>

	<!-- ContentType for Dozer 4 -->
	<extension point="org.eclipse.core.runtime.contentTypes">
		<content-type id="org.dozer.eclipse.plugin.contenttype.dozerMapping4" name="Dozer 4 Mapping File"
			base-type="org.eclipse.core.runtime.xml" 
			priority="normal"
			file-extensions="xml"
			default-charset="UTF-8">
			<describer
				class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
				<parameter name="element" value="mappings/http://dozer.sourceforge.net/dtd/dozerbeanmapping.dtd" />
			</describer>
		</content-type>
	<!-- ContentType for Dozer 5 -->
		<content-type id="org.dozer.eclipse.plugin.contenttype.dozerMapping5" name="Dozer 5 Mapping File"
			base-type="org.eclipse.core.runtime.xml" 
			priority="normal"
			file-extensions="xml"
			default-charset="UTF-8">
			<describer
				class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
				<parameter name="element" value="{http://dozer.sourceforge.net}mappings" />
			</describer>
		</content-type>
	</extension>	
	
	<!-- Icon for Dozer contenttypes -->
	<extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.dozer.eclipse.plugin.DozerMultiPageEditor"
            contributorClass="org.eclipse.wst.xml.ui.internal.tabletree.XMLMultiPageEditorActionBarContributor"
            icon="icons/dozer.gif"
            id="org.dozer.eclipse.plugin.editor.dozerEditor"
            name="Dozer Mapping Editor">
         <contentTypeBinding contentTypeId="org.dozer.eclipse.plugin.contenttype.dozerMapping4" />
         <contentTypeBinding contentTypeId="org.dozer.eclipse.plugin.contenttype.dozerMapping5" />
      </editor>
   </extension>
   	
	<!-- DTD and XSD registration -->
	<extension point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution
            id="default">
         <public
               publicId="-//DOZER//DTD MAPPINGS//EN"
               uri="schema/dozerbeanmapping.dtd">
         </public>
      </catalogContribution>
      <catalogContribution
            id="default">
         <public
               publicId="http://dozer.sourceforge.net"
               uri="schema/beanmapping.xsd">
         </public>
      </catalogContribution>      
   </extension>
   
  <!-- Source pane -->
  
	<!-- Content Assist -->
	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
		<sourceViewerConfiguration
			class="org.dozer.eclipse.plugin.sourcepage.DozerStructuredTextViewerConfiguration"
			target="org.dozer.eclipse.plugin.contenttype.dozerMapping4" />
		<sourceViewerConfiguration
			class="org.dozer.eclipse.plugin.sourcepage.DozerStructuredTextViewerConfiguration"
			target="org.dozer.eclipse.plugin.contenttype.dozerMapping5" />
	</extension>	
	
	<!-- Hyperlink Detector -->
	<extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      	<hyperlinkDetector
      		targetId="org.eclipse.core.runtime.xml"
            class="org.dozer.eclipse.plugin.sourcepage.hyperlink.DozerClassHyperlinkDetector"
            id="org.dozer.eclipse.plugin.DozerClassHyperinkDetector"
            name="DozerClassHyperinkDetector"/>        
	</extension>
	
	<!-- Validation -->
	<extension
		id="DozerValidator"
		name="Dozer Mapping File Validator"
		point="org.eclipse.wst.validation.validator">
		<validator>
			<filter				
				objectClass="org.eclipse.core.resources.IFile"
				nameFilter="*.xml">
			</filter>
         	<contentTypeBinding contentTypeId="org.dozer.eclipse.plugin.contenttype.dozerMapping4"/>			
         	<contentTypeBinding contentTypeId="org.dozer.eclipse.plugin.contenttype.dozerMapping5"/>			
			<helper class="org.eclipse.wst.xml.core.internal.validation.core.Helper"/>
			<run
				async="true"
				fullBuild="true"
				incremental="true"
				enabled="true"
				class="org.dozer.eclipse.plugin.sourcepage.validation.Validator"/>
		</validator>
	</extension>
	
	<!-- Wizard -->
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.dozer.eclipse.plugin.wizards.category"
            name="Dozer Mapping Framework"/>
      <wizard 
      		hasPages="true"
            id="org.dozer.eclipse.plugin.wizards.newMappingConfig"
            name="Dozer Mapping File"
            class="org.dozer.eclipse.plugin.wizards.NewMappingFileWizard"
            category="org.dozer.eclipse.plugin.wizards.category"
            icon="icons/dozer.gif">
         <description>
            Create a new Dozer Mapping file.
         </description>
      </wizard>
   </extension>
   
   
</plugin>
