<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

  <!-- Provided Spring Integration -->
  <bean class="org.dozer.spring.DozerBeanMapperFactoryBean">
      <property name="mappingFiles" value="classpath*:/*Mapping.xml"/>
      <property name="customConverters">
          <list/>
      </property>
      <property name="eventListeners">
          <list/>
      </property>
      <property name="factories">
          <map/>
      </property>
  </bean>

  <!-- Semi-Manual Solution -->
  <bean class="org.dozer.DozerBeanMapper">
       <property name="customConverters">
         <list>
           <bean class="org.dozer.functional_tests.support.CustomConverterParamConverter"/>
         </list>
       </property>
  </bean>

</beans>