<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
  "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="false">

  <bean id="org.dozer.Mapper" class="org.dozer.DozerBeanMapper"
    singleton="true">
    <property name="mappingFiles">
      <list>
        <value>systempropertymapping1.xml</value>
        <value>dozerBeanMapping.xml</value>
      </list>
    </property>
    <property name="factories">
      <map>
        <!-- the key matches the name of the factory in the dozerBeanMapping.xml file -->
        <entry key="org.dozer.functional_tests.support.SampleCustomBeanFactory">
          <ref bean="sampleCustomBeanFactory" />
        </entry>
        <!-- more factories can be supplied with additional entry's -->
      </map>
    </property>
  </bean>

  <bean id="NoExplicitMappingsMapperIF" class="org.dozer.DozerBeanMapper" singleton="true" />

  <bean id="cleanMapper" class="org.dozer.DozerBeanMapper" singleton="true">
    <property name="mappingFiles">
      <list>
        <value>useCustomConverter.xml</value>
        <value>injectedCustomConverter.xml</value>
      </list>
    </property>
    <property name="customConverters">
      <list>
        <ref bean="customConverterTest" />
      </list>
    </property>
  </bean>

  <bean id="sampleCustomBeanFactory" class="org.dozer.functional_tests.support.SampleCustomBeanFactory"
    singleton="true" />

  <!-- custom converter -->
  <bean id="customConverterTest" class="org.dozer.functional_tests.support.InjectedCustomConverter"
    singleton="true">
    <property name="injectedName">
      <value>injectedName</value>
    </property>
  </bean>

</beans>