<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
  "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="false">

  <bean id="EventMapper" class="org.dozer.DozerBeanMapper" singleton="true">
    <property name="mappingFiles">
      <list>
        <value>dozerBeanMapping.xml</value>
      </list>
    </property>
    <property name="eventListeners">
      <list>
        <ref bean="eventTestListener" />
      </list>
    </property>
  </bean>

  <bean id="eventTestListener" class="org.dozer.functional_tests.support.EventTestListener" singleton="true" />

</beans>