body {
  margin: 0px;
  padding: 0px 0px 10px 0px;
}
img {
  border:none;
}
table {
  padding:0px;
  width: 100%;
  margin-left: -2px;
  margin-right: -2px;
}
acronym {
  cursor: help;
  border-bottom: 1px dotted #feb;
}
table.bodyTable th, table.bodyTable td {
  padding: 2px 4px 2px 4px;
  vertical-align: top;
}
div.clear{
  clear:both;
  visibility: hidden;
}
div.clear hr{
  display: none;
}
#projectLogo {
  font-size: xx-large; 
  font-weight: bold;
}
#organizationLogo img, #projectLogo img, #projectLogo span{
  margin: 8px;
}
#projectLogo span{
    border: 1px solid;
    padding: 4px 10px 4px 10px;
    background-color: #eee;
    cursor: pointer;
}
.xleft, #organizationLogo img{
  float:left;
} 
.xright, #projectLogo img, #projectLogo span{
  float:right;
  text-shadow: #7CFC00;
}
#banner {
  border-bottom: 1px solid #fff;
}
#banner img {
  border: none;
}
#footer, #breadcrumbs {
  padding: 3px 10px 3px 10px;
}
#leftColumn {
 width: 250px;
 float:left;
}
#bodyColumn {
  margin-left: 275px;
}
#navcolumn {
  padding: 8px 4px 0 8px;
}
#navcolumn h5, #navcolumn ul {
  margin: 0;
  padding: 0;
  font-size: small;
}
#navcolumn li {

  background-image: none;
  background-repeat: no-repeat;
  background-position: 0 0.4em;
  margin-left: 16px;
  list-style-position: outside;
  line-height: 1.2em;
  font-size: smaller;
}

#navcolumn li.none {
  margin-left: 16px;
  list-style-type: none;
}


#navcolumn li.expanded {
  background-image: url(../images/expanded.gif);
  margin-left: 0;
  padding-left: 16px;
  list-style-type: none;
}

#navcolumn li.expanded ul li {
  list-style-type: disc;
}


#navcolumn li.collapsed {
  background-image: url(../images/collapsed.gif);
  margin-left: 0;
  padding-left: 16px;
  list-style-type: none;
}
#poweredBy {
  text-align: center;
}
#navcolumn img {
  margin-top: 10px;
  margin-bottom: 3px;
}
#poweredBy img {
  display:block;
  margin: 20px 0 20px 17px;
  border: 1px solid black;
  width: 90px;
  height: 30px;
}
#search img {
    margin: 0px;
    display: block;
}
#search #q, #search #btnG {
    border: 1px solid #999;
    margin-bottom:10px;
}
#search form {
    margin: 0px;
}
#lastPublished {
  font-size: x-small;
}
.navSection {
  margin-bottom: 2px;
  padding: 8px;
}
.navSectionHead {
  font-weight: bold;
  font-size: x-small;
}
.section {
  padding: 4px;
}
#footer {
  font-size: x-small;
}
#breadcrumbs {
  font-size: x-small;
  margin: 0pt;
}
.source {
  padding: 12px;
  margin: 1em 7px 1em 7px;
}
.source pre {
  margin: 0px;
  padding: 0px;
}
